@page
@model clunComp.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление пароля";
}

<div class="auth-page">
    <div class="auth-container">
        <div class="auth-header">
            <h1>ПРОВЕРЬТЕ EMAIL</h1>
            <p>Инструкции по восстановлению пароля отправлены на ваш email</p>
        </div>
        
        <div class="auth-links" style="border: none; padding: 0;">
            <a asp-page="./Login">Вернуться ко входу</a>
        </div>
    </div>
</div>
