@page
@model clunComp.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<div class="auth-page">
    <div class="auth-container">
        <div class="auth-header">
            <h1>ВЫХОД</h1>
            <p>Вы вышли из системы</p>
        </div>
        
        <div class="auth-links" style="border: none; padding: 0; justify-content: center;">
            <a asp-page="/Index">На главную</a>
        </div>
    </div>
</div>
